html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Login Style */

.login{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.login-panel{
    width: 300px;
    height: 519px;
    border-radius: 10px;
    position: absolute;
    right: 50%;
    margin-right: -150px;
    top: 50%;
    margin-top: -260px;
}

.login-panel .row, .login-panel .col{
    height: 100% !important;
}

.banner-box{
    background: url(../images/banner_oneview.png) no-repeat 0 0 !important;
    border-radius: 10px 0px 0px 10px !important;
}

.login-panel .btn{
    display: block;
    text-transform: uppercase;
}

/* End Login Style */


.header{
    position: absolute;
    width: 100%;
    height: 56px;
    top: 0;
}

.main-nav{
    position: absolute;
    width: 100%;
    height: 56px;
    top: 56px;
}

.header .input-field label{
    line-height: 18px;
    top: -5px;
}

.header .input-field .select-wrapper{
    margin-top: 18px;
}

.header .select-wrapper input.select-dropdown{
    border-bottom: 0px;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: #0288d1;
}

.main-nav .nav-wrapper{
    padding: 0px 0px;
}

.logo{
    height: 56px;
}

.logo img{
    margin: 17px 0px 0px 15px;
    height: 30px;
}

.logout{
    margin-right: 0px;
}

.logout a{
    padding: 0px 15px;
}

.login-info{
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
}

.login-info .grey-text{
    font-size: 12px;
}

.main{
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-inner{
    position: absolute;
    width: 100%;
    top: 0px;
    overflow-y: auto;
    bottom: 56px;
    -webkit-overflow-scrolling: touch;
}

.no-footer{
    bottom: 0;
}

.footer{
    position: absolute;
    width: 100%;
    height: 56px;
    bottom: 0;
}

.userView{
    height: 180px;
    padding: 107px 25px 0px 25px !important;
}

.side-nav{
    height: 100%;
}

.side-nav .menu-header{
    position: absolute;
    top: 0;
    width: 100%;
}

.side-nav .menu-con{
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 66px;
    overflow-y: auto;
}

.side-nav .menu-footer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    font-size: 12px;
}

@media only screen and (min-width: 601px) {
  .header{
        position: absolute;
        width: 100%;
        height: 64px;
        top: 0;
    }

    .main-nav{
        position: absolute;
        width: 100%;
        height: 64px;
        top: 64px;
    }
    .logo{
        height: 64px;
    }
    
    .logo img{
        height: 30px;
    }
    .main{
        top: 128px !important;
    }
    
    .main-inner{
        bottom: 64px;
    }
    
    .no-footer{
        bottom: 0;
    }
    .footer{
        height: 64px;
    }
    
    .login-panel{
        width: 700px;
        height: 519px;
        border-radius: 10px;
        position: absolute;
        right: 50%;
        margin-right: -350px;
        top: 50%;
        margin-top: -260px;
    }
}

.padding-5{
    padding: 5px !important;
}

.padding-hrz-5{
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.padding-ver-5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-10{
    padding: 10px !important;
}

.padding-hrz-10{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.padding-ver-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.padding-15{
    padding: 15px !important;
}

.padding-hrz-15{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.padding-ver-15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.no-padding{
    padding: 0px !important;
}

.no-padding-hrz{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-ver{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.margin-5{
    margin: 5px !important;
}

.margin-hrz-5{
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.margin-ver-5{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.margin-bottom-5{
    margin-bottom: 5px !important;
}

.margin-10{
    margin: 10px !important;
}

.margin-hrz-10{
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.margin-ver-10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-15{
    margin: 15px !important;
}

.margin-hrz-15{
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.margin-ver-15{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.margin-top-15{
    margin-top: 15px;
}

.margin-right-10{
  margin-right: 10px;
}

.no-margin{
    margin: 0px !important;
}

.no-margin-bottom{
    margin-bottom: 0px !important;
}

.no-margin-hrz{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-margin-ver{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.template-header{
    padding: 5px;
}


/*
body{
    padding-top: 64px;
}

.header{
    height: 64px;
}

.main-nav,
.main {
  position: relative; 
}

.main-nav {
  z-index: 150;
  margin-bottom: -30px;
}

.header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

*/


/**
 *  Template Grid
 * --------------------------------------------------
 * By default each .col within a .row will evenly take up
 * available width, and the height of each .col with take
 * up the height of the tallest .col in the same .row.
 */
.template .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.template .row-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.template .row-no-padding {
  padding: 0; }
  .template .row-no-padding > .col {
    padding: 0; }

.template .row + .row {
  margin-top: -5px;
  padding-top: 0; }

.template .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%; 
  background: #fff;
  border-radius: 5px;
  margin-left: 10px;
}

.template .col:first-child{
    margin-left: 0px;
}

/* Vertically Align Columns */
/* .row-* vertically aligns every .col in the .row */
.template .row-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.template .row-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.template .row-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.template .row-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

.template .row-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline; }

/* .col-* vertically aligns an individual .col */
.template .col-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.template .col-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.template .col-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/* Column Offsets */
.template .col-offset-10 {
  margin-left: 10%; }

.template .col-offset-20 {
  margin-left: 20%; }

.template .col-offset-25 {
  margin-left: 25%; }

.template .col-offset-33, .template .col-offset-34 {
  margin-left: 33.3333%; }

.template .col-offset-50 {
  margin-left: 50%; }

.template .col-offset-66, .template .col-offset-67 {
  margin-left: 66.6666%; }

.template .col-offset-75 {
  margin-left: 75%; }

.template .col-offset-80 {
  margin-left: 80%; }

.template .col-offset-90 {
  margin-left: 90%; }

/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */
.template .col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; }

.template .col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.template .col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.template .col-33, .template .col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.template .col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%; }

.template .col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.template .col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%; }

.template .col-66, .template .col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.template .col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.template .col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

.template .col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%; }

/* Responsive Grid Classes */
/* Adding a class of responsive-X to a row */
/* will trigger the flex-direction to */
/* change to column and add some margin */
/* to any columns in the row for clearity */
@media (max-width: 567px) {
    .template .responsive-sm .col:last-child{
        margin-bottom: 0px;
    }
    
  .template .responsive-sm {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .template .responsive-sm .col, .template .responsive-sm .col-10, .template .responsive-sm .col-20, .template .responsive-sm .col-25, .template .responsive-sm .col-33, .template .responsive-sm .col-34, .template .responsive-sm .col-50, .template .responsive-sm .col-66, .template .responsive-sm .col-67, .template .responsive-sm .col-75, .template .responsive-sm .col-80, .template .responsive-sm .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 10px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 770px) {
  .template .responsive-md {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .template .responsive-md .col, .template .responsive-md .col-10, .template .responsive-md .col-20, .template .responsive-md .col-25, .template .responsive-md .col-33, .template .responsive-md .col-34, .template .responsive-md .col-50, .template .responsive-md .col-66, .template .responsive-md .col-67, .template .responsive-md .col-75, .template .responsive-md .col-80, .template .responsive-md .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 10px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 1023px) {
  .template .responsive-lg {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .template .responsive-lg .col, .template .responsive-lg .col-10, .template .responsive-lg .col-20, .template .responsive-lg .col-25, .template .responsive-lg .col-33, .template .responsive-lg .col-34, .template .responsive-lg .col-50, .template .responsive-lg .col-66, .template .responsive-lg .col-67, .template .responsive-lg .col-75, .template .responsive-lg .col-80, .template .responsive-lg .col-90 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 10px;
      margin-left: 0;
      max-width: 100%;
      width: 100%; } }

/* ==================== END ================= */

.template .col.question-wrapper{
    position: relative;
    padding: 0px;
    font-size: 15px;
    color: #000;
}

.template .col.question-wrapper.disabled, .col.question-wrapper.disabled .toolbar .col{
    pointer-events: none;
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}

.template .col.question-wrapper.na-disabled, .col.question-wrapper.na-disabled .toolbar .col{
    pointer-events: none;
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}

.template .col.question-wrapper.na-disabled .na-btn{
    pointer-events: auto;
    background-color: #dfdfdf !important;
    box-shadow: auto;
    color: #000 !important;
    cursor: auto;
}

.template .col.question-wrapper.np-disabled, .col.question-wrapper.np-disabled .toolbar .col{
    pointer-events: none;
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}

.template .col.question-wrapper.np-disabled .np-btn{
    pointer-events: auto;
    background-color: #dfdfdf !important;
    box-shadow: auto;
    color: #000 !important;
    cursor: auto;
}

.template .col.question-wrapper .question{
    position: relative;
    padding: 15px 45px 15px 10px;
}

.template .col.question-wrapper .question.na{
    position: relative;
    padding: 15px 45px 15px 45px;
}

.template .col.question-wrapper .question.np{
    position: relative;
    padding: 15px 90px 15px 10px;
}

.template .col.question-wrapper .question.na-np{
    position: relative;
    padding: 15px 90px 15px 45px;
}

.col.question-wrapper .more-btn, .col.question-wrapper .na-btn, .col.question-wrapper .np-btn{
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    width: 45px;
}

.col.question-wrapper .na-btn{
    text-align: center;
    font-weight: bold;
    left: 0px;
}

.col.question-wrapper .np-btn{
    text-align: center;
    font-weight: bold;
    right: 45px;
}

.col.question-wrapper .na-btn span, .col.question-wrapper .np-btn span{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -14px;
    line-height: 14px;
    font-size: 12px;
}

.col.question-wrapper .na-btn span .mdi, .col.question-wrapper .np-btn span .mdi{
    font-size: 26px;
}

.col.question-wrapper .more-btn .mdi{
    position: absolute;
    top: 50%;
    width: 45px;
    text-align: center;
    margin-top: -21px;
}

.question-wrapper .ans-mode{
    padding: 0px 10px 20px 10px;
}

.question-wrapper .ans-mode .btn{
    display: block;
    text-align: center;
    padding: 0px;
}

.question-wrapper .toolbar{
    margin: 0px 0px 0px 0px !important;
    padding: 5px 5px !important;
    border-top: 1px #ccc solid;
}

.question-wrapper .toolbar .btn-flat{
    display: block;
    text-align: center;
    padding:0px;
}

.question-wrapper .toolbar .col{
    margin: 0px !important;
    padding: 0px;
}

.select-wrapper input.select-dropdown{
    margin-bottom: 0px;
}

#NewDcCriteriaBar{
    padding-top: 15px;
}

#NewDcCriteriaBar .template .col{
    margin: 0px;
}

#NewDcCriteriaBar .template .question{
    padding: 0px 15px 0px 15px;
}

@media only screen and (min-width: 601px) {
    .template .col.question-wrapper .question{
        padding: 15px 10px 15px 10px;
    }
    
    .template .col.question-wrapper .question.na{
        position: relative;
        padding: 15px 10px 15px 45px;
    }

    .template .col.question-wrapper .question.np{
        position: relative;
        padding: 15px 45px 15px 10px;
    }

    .template .col.question-wrapper .question.na-np{
        position: relative;
        padding: 15px 45px 15px 45px;
    }
    
    .col.question-wrapper .np-btn{
        right: 0px;
    }
    
    .question-wrapper .ans-mode{
        padding: 0px 10px 10px 10px;
    }
}

.toast{
    background: #2e7d32 !important;
}

/* Modal Box Style */

.modal.action-modal{
    top: 5%;
    height: 85%;
    max-height: inherit;
}

.modal.action-modal .modal-header{
    position: absolute;
    width: 100%;
    top: 0;
}

.modal.action-modal .modal-header .tabs{
    overflow: hidden;
}

.modal.action-modal .modal-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.25);
}

.modal.action-modal .modal-content{
    position: absolute;
    top: 112px;
    bottom: 56px;
    width: 100%;
    overflow-y: auto;
}

.modal.action-modal .modal-content .collection{
    margin: 0px;
}

.modal.action-modal .modal-content .collection-divider{
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #eeeeee;
}

.modal-content .collection-item .right{
    font-size: 12px;
    color: #b0bec5;
}

.modal.action-modal .modal-content.no-tabs{
    top: 64px;
}


/* Right Side Panel */

.right-panel{
    width: 400px;
    background: #fafafa;
    height: 100%;
    overflow: hidden;
    padding: 0px;
}

.right-panel-inner{
    position: absolute;
    width: 100%;
    height: 100%;
}

.side-panel-footer{
    height: 48px;
    line-height: 48px;
    position: absolute;
    bottom: 0;
}

.side-panel-footer .btn-flat i{
    display: inherit;
    line-height: 36px;
    font-size: 24px;
}

.side-panel-content{
    position: absolute;
    width: 100%;
    bottom: 48px;
    top: 48px;
    overflow-y: auto; 
    background: #fafafa;
}


.action-tab .tab a,.action-tab .tab a:hover, .action-tab .tab a.active{
    color: #fff;
}

.action-tab .indicator{
    background: #fff;
}

.cus-action-btn a.btn{
    margin-top: 15px;
    padding: 0px 15px;
    width: 100%;
    text-align: center;
}

.action-content .collection-item{
    padding: 10px 40px 10px 20px;
    position: relative;
}

.action-content .collection-item a{
    position: absolute;
    width: 40px;
    right: 0;
    height: 100%;
    top: 0;
    font-size: 22px;
}

.action-content .collection-item a .mdi{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -10px;
    margin-right: -11px;
}

.action-content header{
    border-bottom: 1px #f5f5f5 solid;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    background: #fff;
}

.media-panel .media-box{
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.media-panel .media-box a.btn-flat{
    padding: 0px 10px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.action-content .collection-item .check-box{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
}


.collection-item.bordered{
    border-left: 5px;
    border-left-color: #fff;
    border-left-style: solid;
}


@media (max-width: 770px) {
    .right-panel{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0px;
    }
    .modal.action-modal{
        top: 0 !important;
        width: 100%;
        height: 100%;
    }
}

.dashboard{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow-y: auto;
}

.dashboard .item{
    background: #fff;
    padding: 20px 40px 20px 20px;
    position: relative;
    margin-bottom: 1px;
    cursor: pointer;
}

.dashboard .item .fixed-action-btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.dashboard .more-btn{
    margin: 1px 0px;
    border-top: 1px #eceff1 solid;
}

.dashboard .more-btn .btn{
    width: 100%;
    height: 44px;
    line-height: 44px;
    
}
.dashboard .more-btn .col{
    background: transparent;
}

.item .fixed-action-btn .btn-floating{
    border-radius: 0px;
    background: transparent !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.item .fixed-action-btn .btn-floating i{
    color: #607d8b;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.item .fixed-action-btn ul{
    background: rgba(2,136,209,0.5);
}

.dashboard .item .item-right{
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -18px;
    padding: 0px 10px;
}

.dashboard .item .item-right i{
    margin: 0px 5px;
}

.item .item-right .badge{
    margin-top: 6px;
}

.dashboard .fixed-action-btn.toolbar ul li a{
    display: inline-grid;
}

/* Grid Style  Started*/

.con-left{
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
}

.con-right{
    position: absolute;
    top: 0;
    left: 301px;
    right: 0;
    bottom: 0;
    background: #fff;
}

.con-left-head, .con-right-head{
    position: absolute;
    top: 0;
    width: 100%;
}

.con-left-head{
    border-bottom: 1px #b0bec5 solid;
}

.con-right-head nav{
    background: transparent;
}

.con-right-head th{
    padding: 0px 15px;
}

.con-left-footer, .con-right-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
}

.con-right-footer .pagination{
    padding: 3px 0px;
}

.con-right-footer .left{
    line-height: 36px;
    padding: 0px 15px;
}

.con-left-cont, .con-right-cont{
    position: absolute;
    top: 56px;
    bottom: 56px;
    width: 100%;
    overflow-y: auto;
}

.con-right-cont td{
    padding: 15px 5px;
}

.con-right-cont.no-footer{
    bottom: 0;
}

.con-left-cont .item{
    padding: 15px 15px 0px 15px;
    border-bottom: 1px #b0bec5 solid; 
}

.pagination li.active{
    background-color: #0288d1;
}

/* TODO (Devaraj S) : Need to check with pallav. */

@media only screen and (max-width:601px) {
    .con-right {
        left: 15px;
    }

    .con-left {
        left: -285px;
        z-index: 999;
    }

    .main-inner .con-left:hover {
        left: 0;
    }

    .con-left-cont {
        background: #eceff1 !important;
    }

    .con-left-footer {
        background: #eceff1 !important;
    }
}

@media only screen and (min-width: 601px) {
    .con-left-cont, .con-right-cont{
        top: 64px;
    }
    
    .con-right-cont.no-footer{
        bottom: 0;
    }
}

/* SmallBox */
#divSmallBoxes {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.SmallBox {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  color: white;
  z-index: 9999;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 10px;
}
.SmallBox:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
.SmallBox .foto {
  font-size: 50px;
  position: absolute;
  left: 17px;
}
.SmallBox .textoFull {
  width: 100%;
  float: left;
  padding-left: 36px;
}
.SmallBox .textoFoto {
  width: 78%;
  margin: 3px 20px 3px 80px;
  float: left;
}
.miniPic {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -12px;
}
.miniIcono {
  height: 100%;
  font-size: 20px;
}
.miniIcono i{
    line-height: 20px;
}

.SmallBox span {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -1px;
  display: block;
  margin: 4px 0;
}
.SmallBox p {
  font-size: 13px;
  margin: 2px 0px;
}
/* End of SmallBox */

/* Tab Customize */

.tabs.blue-gray{
  border-bottom: 1px #eeeeee solid;
}

.tabs.blue-gray .tab a{
  color: rgba(69, 90, 100, 0.5)
}

.tabs.blue-gray .tab a.active{
  color: rgba(69, 90, 100, 1);
}

.tabs.blue-gray .indicator{
  background: #039be5;
}

.summary-layout{
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left:0;
    background-color : white;
}

.summary-layout .col{
  padding: 15px 30px;
}

.widget-box{
  margin-bottom: 20px;
}

.widget-box .collection{
    border: 0px;
}

.widget-box .title-box{
  background: #eceff1;
  border-bottom: 1px #b0bec5 solid;
}

.widget-box .collection a.collection-item{
  color: #039be5;
  padding: 10px;
}

.widget-box .collection-item .badge{
  font-size: 16px;
  font-weight: bold;
}

.row-but-opt a{
  width: 100%;
  height: 100%;
  line-height: 0px;
  position: relative;
  text-align: center;
}

.row-but-opt a .mdi{
  position: absolute;
  top: 0px;
  right: 50%;
  margin-right: -12px;
  line-height: 48px;
}

.row-but-opt a span{
  position: absolute;
  bottom: 19px;
  width: 100%;
  text-align: center;
  display: block;
}

/*
 * SHORT CUT
 */
#shortcut {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #33302F;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1005;
  display: none;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#shortcut ul {
  padding: 15px 20px 10px;
  list-style: none;
  margin: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #423F3F;
}
#shortcut ul li {
  display: inline-block;
  width: auto;
}
#shortcut ul li .jarvismetro-tile {
  margin: 0px 3px 3px;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
#shortcut ul li .jarvismetro-tile:hover {
  color: #ffffff;
  text-decoration: none;
}
#shortcut ul li .jarvismetro-tile:active,
#shortcut ul li .jarvismetro-tile:focus {
  left: 0;
  top: 0;
}
.shortcut-on #response-btn {
  display: none !important;
}
.shortcut-on #main .navbar,
.shortcut-on #left-bar .navbar {
  border: none !important;
}

/*
 * jarvismetro TILE
 */
.jarvismetro-tile {
  float: left;
  display: block;
  background-color: #ffffff;
  width: 100px;
  height: 70px;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px #FFFFCC;
  border: 1px dotted #C5C5C5;
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-smooth: always;
  margin: 0 10px 20px 0;
  padding: 5px;
  position: relative;
}
.jarvismetro-tile:hover {
  z-index: 10;
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
}
.jarvismetro-tile.big-cubes {
  width: 120px;
  height: 120px;
}
.jarvismetro-tile.double {
  width: 249px;
}
.jarvismetro-tile:active {
  top: 1px;
  left: 1px;
}
.jarvismetro-tile .iconbox {
  text-align: center;
}
.jarvismetro-tile .iconbox i {
  display: block;
  margin: 15px auto 0;
  height: 75px;
}
.jarvismetro-tile .iconbox span {
  display: block;
  text-align: left;
}
.jarvismetro-tile .iconbox span > span {
  position: absolute;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  padding: 5px 5px;
  border: 1px solid #ffffff;
}
/*
	 * BACKGROUNDS
	 */
.bg-color-blue {
  background-color: #57889c !important;
}
.bg-color-blueLight {
  background-color: #92a2a8 !important;
}
.bg-color-blueDark {
  background-color: #4c4f53 !important;
}
.bg-color-green {
  background-color: #356e35 !important;
}
.bg-color-greenLight {
  background-color: #71843f !important;
}
.bg-color-greenDark {
  background-color: #496949 !important;
}
.bg-color-red {
  background-color: #a90329 !important;
}
.bg-color-yellow {
  background-color: #b09b5b !important;
}
.bg-color-orange {
  background-color: #c79121 !important;
}
.bg-color-orangeDark {
  background-color: #a57225 !important;
}
.bg-color-pink {
  background-color: #ac5287 !important;
}
.bg-color-pinkDark {
  background-color: #a8829f !important;
}
.bg-color-purple {
  background-color: #6e587a !important;
}
.bg-color-darken {
  background-color: #404040 !important;
}
.bg-color-lighten {
  background-color: #d5e7ec !important;
}
.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-grayDark {
  background-color: #525252 !important;
}
.bg-color-magenta {
  background-color: #6e3671 !important;
}
.bg-color-teal {
  background-color: #568a89 !important;
}
.bg-color-redLight {
  background-color: #a65858 !important;
}